body {
    margin: 0px;
    background-color: cornflowerblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


img {
    width: 300px;
    height: 250px;
    margin: 5px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}